body{
    margin: 0px;
}

div{
    font-family:  Helvetica, sans-serif;
    width: 100%;
    float: left;
   
}
.menu{
    margin: 0;
    padding: 8px;
    height: 100px;
    background-color: #94D93D;
}
.menu li{
    display: inline;
}

.button{
    padding: 20px;
    text-decoration: none;
    color: #000000;
}

li2{
 float: right;

}
li3{
    float: right;
}
.button:link{
    background-color: #94D93D;
}
.button:hover{
    background-color: rgb(189, 226, 133);
}
